body {
  margin: 0;
  padding: 0;
}

.main-container h1  {
  /* flex: 1; */
  height: 100%;
  text-align: center;
  position: fixed;
  width: 100%;
}

.image-container{
  height: 100%;

  position: fixed;
  width: 100%;
}




.main-container .image-container{
  display: flex;
  height: 100vh;
  align-items: center;
  background: #111;
}




.main-container h1 {
  flex: 1;
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 10px;

  z-index: 100;
  text-shadow: 2px 16px 16px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.start-btn{
  /* text-decoration: none; */
  border-radius: 6px;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 48%;
  font-size: 20px;
  transition-duration: 0.5s;
  background-color: bisque;
}

a{
  text-decoration: none;
  color: #000000;
}

.start-btn:hover{
  background-color: #f44336;
}
